/* Fonts */


@font-face {
      font-family: montserrat-regular;
      src: url('.././fonts/Montserrat-Regular.ttf');
}

@font-face {
      font-family: montserrat-medium;
      src: url('.././fonts/Montserrat-Medium.ttf');
}

@font-face {
      font-family: montserrat-bold;
      src: url('.././fonts/Montserrat-Bold.ttf');
}

@font-face {
      font-family: montserrat-thin;
      src: url('.././fonts/Montserrat-Thin.ttf');
}

@font-face {
      font-family: impact;
      src: url('.././fonts/impact.ttf');
}


/*Basics */

* {
      box-sizing: border-box;
}

html {
      font-size: 16px;
      color: #ffffff;
}

body {
      margin: 0;
      background-color: #e3e3e3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      margin: 0;
}

p {
      margin: 0;
}

img {
      width: 100%;
}

a {
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
}

button {
      cursor: pointer;
}

/* Helpers */

.clean-ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
}


.main-container {
      max-width: 1060px;
      margin: 0 auto;
      box-sizing: content-box;
      padding-right: 11px;
      padding-left: 11px;
}

/* FLEX HELPERS */

.flex {
      display: flex;
}

.flex.align-item-center {
      align-items: center;
}

.flex.spcae-between {
      justify-content: space-between;
}


/* COMPONENTS */

/*headers */
.main-header {
      height: 66px;
      background-color: #ff7f00;
}

.header-container {
      height: 100%;
      justify-content: center;
}

.logo {
      font-family: montserrat-medium;
}

.img-logo {
      max-width: 150px;
}

.navbar-conntainer>* {
      width: 130px;
      font-family: montserrat-regular;
      font-size: 1.1875em;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
}



/* main search */
.main-search {
      height: 102px;
}

.serach-bar {
      /* Style for "Enter sear" */
      width: 206px;
      height: 19px;
      color: #7a7a7a;
      font-family: montserrat-regular;
      font-size: 1em;
      font-weight: 500;
      text-align: left;
      outline: 0;
      border-width: 0 0 2px;
      border-color: black
}

.serach-bar:focus {
      border-color: green
}

.search-word {
      width: 100%;
      justify-content: flex-end;
      align-items: center;
}

.search-item {
      color: #040a2c;
      font-family: montserrat-regular;
      font-size: 2.5em;
      text-align: center;
      margin-inline-end: 20px;
}

/*Gallery */
.gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 10px 10px;
}

.img-item {
      text-align: center;
      height: 180px;
      cursor: pointer;
}


/* main content */

.main-editor {
      display: flex;
      margin-block-start: 20px;
      justify-content: space-between;
}

.control-bar {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 10px 10px;
      width: 373px;
      height: 500px;
      justify-items: center;
}

.box {
      width: 60px;
      height: 60px;
      border-radius: 12px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

.icon {
      width: 40px;
      height: 40px;
      justify-content: center;
}

.add-text-line {
      grid-column: 1 /6;
      grid-row: 1 / 2;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background-color: #ffffff;
}

.text-line {
      width: 100%;
      height: 100%;
      color: #000000;
      font-family: montserrat-regular;
      border-radius: 12px;
      font-size: 1.25em;
      font-weight: 400;
      text-align: left;

}

.arrow-up-down {
      grid-column: 2 /3;
      grid-row: 2 / 3;
}

.add-line {
      grid-column: 3 /4;
      grid-row: 2 / 3;
}

.delete-line {
      grid-column: 4 /5;
      grid-row: 2 / 3;
}

.font-plus {
      grid-column: 1 /2;
      grid-row: 3 / 4;
}

.font-minus {
      grid-column: 2 /3;
      grid-row: 3 / 4;
}

.align-left {
      grid-column: 3 /4;
      grid-row: 3 / 4;
}

.align-center {
      grid-column: 4 /5;
      grid-row: 3 / 4;
}

.align-right {
      grid-column: 5 /6;
      grid-row: 3 / 4;
}

.choose-font {
      grid-column: 1 /4;
      grid-row: 4 / 5;
      width: 100%;
      align-self: center;
}

.font-select {
      height: 100%;
      width: 100%;
      color: #000000;
      font-family: montserrat-regular;
      font-size: 1.25em;
      font-weight: 400;
}

.choose-fill-color {
      grid-column: 4 / 5;
      grid-row: 4 / 5;
}

.hidden-color-picker {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
}

.choose-stroke-color {
      grid-column: 5 /6;
      grid-row: 4 / 5;
}

.add-stuff {
      grid-column: 1 /6;
      grid-row: 5 / 7;
      width: 100%;
      height: 100%;
}

.share-btn {
      grid-column: 2 /4;
      grid-row: 7 / 8;
      color: #ffffff;
      font-family: montserrat-medium;
      font-size: 1.25em;
      width: 120px;
      height: 60px;
      border-radius: 12px;
      background-color: #ff7f00;
}

.download-btn {
      grid-column: 4 /6;
      grid-row: 7 / 8;
      color: #ffffff;
      font-family: montserrat-medium;
      font-size: 1.25em;
      width: 120px;
      height: 60px;
      border-radius: 12px;
      background-color: #ff7f00;
      display: flex;
      justify-content: center;
      align-items: center;

}

.share-container {
      grid-column: 1 /2;
      grid-row: 7 / 8;
      font-family: montserrat-medium;
      font-size: 1.25em;
      width: 60px;
      height: 60px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
}

a.btn {
      display: flex;
      justify-content: center;
      border-radius: 12px;
      align-items: center;
      font-size: 1.5em;
      width: 100%;
      height: 100%;
}

/* footer */

.main-footer {
      height: 207px;
      background-color: #ff7f00;
}

.footer-container {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-block-start: 13px;
}

.logo-footer {
      margin-block-start: 77px;
      margin-block-end: 16px;
      font-size: 1.6rem;
}

.copy-footer {
      font-family: montserrat-thin;
      font-size: 1.1875em;
}