/* Fonts */


@font-face {
      font-family: montserrat-regular;
      src: url('.././fonts/Montserrat-Regular.ttf');
}

@font-face {
      font-family: montserrat-medium;
      src: url('.././fonts/Montserrat-Medium.ttf');
}

@font-face {
      font-family: montserrat-bold;
      src: url('.././fonts/Montserrat-Bold.ttf');
}

@font-face {
      font-family: montserrat-thin;
      src: url('.././fonts/Montserrat-Thin.ttf');
}

@font-face {
      font-family: impact;
      src: url('.././fonts/impact.ttf');
}


/*Basics */

* {
      box-sizing: border-box;
}

html {
      font-size: 16px;
      color: #ffffff;
}

body {
      margin: 0;
      background-color: #e3e3e3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      margin: 0;
}

p {
      margin: 0;
}

img {
      width: 100%;
}

a {
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
}

button {
      cursor: pointer;
}

/* Helpers */

.clean-ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
}


.main-container {
      max-width: 1060px;
      margin: 0 auto;
      box-sizing: content-box;
      padding-right: 11px;
      padding-left: 11px;
}

/* FLEX HELPERS */

.flex {
      display: flex;
}

.flex.align-item-center {
      align-items: center;
}

.flex.spcae-between {
      justify-content: space-between;
}


/* COMPONENTS */

/*headers */
.main-header {
      height: 66px;
      background-color: #ff7f00;
}

.header-container {
      height: 100%;
      justify-content: center;
}

.logo {
      font-family: montserrat-medium;
}

.img-logo {
      max-width: 150px;
      cursor: pointer;
}

.navbar-conntainer {
      cursor: pointer;
      height: 100%;
}

.navbar-conntainer>* {
      width: 130px;
      height: 66px;
      font-family: montserrat-regular;
      font-size: 1.1875em;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
}

.nav-item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}


.navbar-conntainer>*:hover {
      transition: background-color 0.3s;
      opacity: 0.7;
      box-shadow: inset 0 -6px 0 hsl(120, 2%, 8%);
      color: hsl(120, 2%, 8%);
}


.menu-btn {
      display: none;
}



/* main search */
.main-search {
      height: 102px;
}

.serach-bar {
      /* Style for "Enter sear" */
      width: 206px;
      height: 19px;
      color: #7a7a7a;
      font-family: montserrat-regular;
      font-size: 1em;
      font-weight: 500;
      text-align: left;
      outline: 0;
      border-width: 0 0 2px;
      border-color: black
}

.search-area {
      width: 230px;
}

.serach-bar:focus {
      border-color: green
}

.file-input {
      margin-block-start: 10px;
      background-color: #7a7a7a;
      width: 206px;
}

.search-word {
      width: 100%;
      justify-content: flex-end;
      align-items: center;
}

.search-item {
      color: #040a2c;
      font-family: montserrat-regular;
      font-size: 2.5em;
      text-align: center;
      margin-inline-end: 20px;
}

.theme {
      position: absolute;
      /* align-items: flex-start; */
      margin-inline-start: 20px;
}

/*Gallery */
.gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      gap: 10px 10px;
}

.img-item {
      text-align: center;
      
      cursor: pointer;
}

.memes-items {
      text-align: center;
      height: 180px;
      width: 180px;
      margin: 10px;
      cursor: pointer;
}

/*memes */
.main-memes {
      display: grid;
      text-align: center;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      gap: 10px 10px;
      margin-block-start: 10px;
}


/* main content */

.main-editor {
      display: flex;
      margin-block-start: 20px;
      justify-content: center;
}

.canvas {
      width: 500px;
      height: 500px;
}

.control-bar {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(7, 1fr);
      gap: 10px 10px;
      width: 373px;
      height: 500px;
      justify-items: center;
      margin-inline-start: 20px;
}

.box {
      width: 60px;
      height: 60px;
      border-radius: 12px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

.icon {
      width: 40px;
      height: 40px;
      justify-content: center;
}

.add-text-line {
      grid-column: 1 /6;
      grid-row: 1 / 2;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      background-color: #ffffff;
}

.text-line {
      width: 100%;
      height: 100%;
      color: #000000;
      font-family: montserrat-regular;
      border-radius: 12px;
      font-size: 1.25em;
      font-weight: 400;
      text-align: left;

}

.arrow-up-down {
      grid-column: 2 /3;
      grid-row: 2 / 3;
}

.add-line {
      grid-column: 3 /4;
      grid-row: 2 / 3;
}

.delete-line {
      grid-column: 4 /5;
      grid-row: 2 / 3;
}

.font-plus {
      grid-column: 1 /2;
      grid-row: 3 / 4;
}

.font-minus {
      grid-column: 2 /3;
      grid-row: 3 / 4;
}

.align-left {
      grid-column: 3 /4;
      grid-row: 3 / 4;
}

.align-center {
      grid-column: 4 /5;
      grid-row: 3 / 4;
}

.align-right {
      grid-column: 5 /6;
      grid-row: 3 / 4;
}

.choose-font {
      grid-column: 1 /4;
      grid-row: 4 / 5;
      width: 100%;
      align-self: center;
}

.font-select {
      height: 100%;
      width: 100%;
      color: #000000;
      font-family: montserrat-regular;
      font-size: 1.25em;
      font-weight: 400;
}

.choose-fill-color {
      grid-column: 4 / 5;
      grid-row: 4 / 5;
}

.hidden-color-picker {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
}

.choose-stroke-color {
      grid-column: 5 /6;
      grid-row: 4 / 5;
}

.add-stuff {
      grid-column: 1 /6;
      grid-row: 5 / 7;
      width: 100%;
      height: 100%;
}

.share-btn {
      grid-column: 2 /4;
      grid-row: 7 / 8;
      color: #ffffff;
      font-family: montserrat-medium;
      font-size: 1.25em;
      width: 120px;
      height: 60px;
      border-radius: 12px;
      background-color: #ff7f00;
}

.download-btn {
      grid-column: 4 /5;
      grid-row: 7 / 8;
      color: #ffffff;
      font-family: montserrat-medium;
      font-size: 1.25em;
      width: 120px;
      height: 60px;
      border-radius: 12px;
      background-color: #ff7f00;
      display: flex;
      justify-content: center;
      align-items: center;
}

.save {
      grid-column: 5 /6;
      grid-row: 7 / 8;
      border-radius: 12px;
      background-color: #ff7f00;
      color: #ffffff;
      width: 100%;
      font-family: montserrat-medium;
      display: flex;
      justify-content: center;
      align-items: center;
}

.share-container {
      grid-column: 1 /2;
      grid-row: 7 / 8;
      font-family: montserrat-medium;
      font-size: 1.25em;
      width: 60px;
      height: 60px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
}

a.btn {
      display: flex;
      justify-content: center;
      border-radius: 12px;
      align-items: center;
      font-size: 1.5em;
      width: 100%;
      height: 100%;
}

.box add-stuff {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
      grid-template-rows: 40px;
      gap: 10px 10px;

}




/* footer */

.main-footer {
      height: 207px;
      background-color: #ff7f00;
}

.footer-container {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-block-start: 13px;
}

.logo-footer {
      margin-block-start: 77px;
      margin-block-end: 16px;
      font-size: 1.6rem;
}

.copy-footer {
      font-family: montserrat-thin;
      font-size: 1.1875em;
}


/* modals and screen */

.main-screen {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 40%);
      transition: opacity 0.8s;
      cursor: pointer;
}

/* theme */

.kids {
      background-color: blueviolet;
      background-image: url("../img-theme/kids2.jpg");
}

.celeb {
      background-color: blueviolet;
      background-image: url("../img-theme/celeb.jpg");
}

.regular {
      background-color: #e3e3e3;
}

@media only screen and (max-width: 920px) {
      .main-editor {
            flex-direction: column;
            align-items: center;
      }
}

@media only screen and (max-width: 860px) {}



@media only screen and (max-width: 740px) {


      .main-search {
            flex-wrap: wrap;
      }

      .search-word {
            flex-direction: row;
      }

      .search-item {
            font-size: 10px !important;
      }

      .serach-bar {
            margin-block-start: 20px;
            margin-block-end: 5px;
      }

      .gallery {
            margin-block-start: 35px;
      }

      .menu-btn {
            display: block;
            position: absolute;
            right: 30px;
            top: 90;
      }

      .gallery {
            margin-block-start: 0;
      }

      .navbar-conntainer {
            position: fixed;
            right: 0;
            top: 65px;
            flex-direction: column;
            background-color: #ff7f00;
            height: 100vh;
            width: 250px;
            box-shadow: -2px 0px 15px 0px rgb(219, 216, 216);
            transform: translateX(100%);
            transition: transform 0.8s;
      }

      .navbar-conntainer>* {
            height: 100px;
      }

      body.menu-open .navbar-conntainer {
            transform: translateX(0);
      }


      body.menu-open .main-screen {
            opacity: 1;
            visibility: visible;
      }

      body.menu-open {
            z-index: -1;
      }


      .navbar-conntainer>* {
            width: 100%;
            font-size: 2.5em;
            border-bottom: 3px solid #2c2b2b;
      }

      .navbar-conntainer>*:hover {
            opacity: 1;
            font-size: 3em;
            transition: 0.7;
            color: #ffffff;
      }

}

@media only screen and (max-width: 550px) {
      .canvas {
            width: 370px;
            height: 390px;
      }

      .control-bar {
            width: 370px;
            height: 500px;
            gap: 2px 2px;
            margin-inline-start: 0;
      }


      .icon {
            width: 30px;
            height: 30px;
      }

      .download-btn {
            width: 110px;
      }

      .share-btn {
            width: 90px;
      }

      .save {
            height: 60px;
      }


}